# JWT Configuration
JWT_SECRET=your_super_secret_key_here_change_in_production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30

# Database
DATABASE_URL=sqlite:///./fitbit.db

# Fitbit API
FITBIT_CLIENT_ID=SEU_CLIENT_ID
FITBIT_CLIENT_SECRET=SEU_CLIENT_SECRET
FITBIT_REDIRECT_URI="http://127.0.0.1:8000/fitbit/callback"

