# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.eggs
*.dist-info/
*.egg-info/
.venv/
env/
build/
dist/
*.log

# Project specific persistence (Sensitive Data)
patients_data.json

# Environment variables
.env
.env.local

# FastAPI specific
*.db
*.sqlite3

# IDEs
.vscode/
.idea/

# Dependencies
node_modules/