# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.eggs
*.dist-info/
*.egg-info/
.venv/
env/
build/
dist/
*.log

# FastAPI specific
*.db
*.sqlite3

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Dependencies
node_modules/